<div class="container">
    <div *ngIf="wishes.length == 0; else showItems">There are no items</div>
  </div>

<ng-template #showItems>
<ul>
    <li id="liu" *ngFor="let item of wishes; index as i">
        <label >
          <input 
          class="checkbox" 
          type="checkbox"
          [(ngModel)]="item.isComplete"
          (ngModelChange)="notifyParent(item)"
          [checked]="item.isComplete"
          [attr.custom-data]="i"
          (click)="toggleItem(item)">
          {{item.wishText}}
        </label>
  
          <button type="submit" *ngIf="item.isComplete"
          (click)="$event.preventDefault(); removeWish(item)"
          >Remove Wish</button>
    </li>
</ul>
</ng-template>
